html body
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*header section*/
#header
{
    display: flex;
    flex-direction: row;
    background-color:#707070;
    justify-content: space-between;
    padding: 2em;
    max-width: 100%;
}

#logo
{
    justify-content: flex-start;
}

#homeButton
{
    justify-content: flex-end;
}

#body
{
    display: flex;
    flex-direction: row;
    height: 50em;
}

#image-pannel
{
    background-color: grey;
    width: 7em;
}

#left-pannel
{
    width: 37em;
}

#right-pannel
{
    border: grey 1em;
}

#top-left-pannel
{
    height: 40em;
}
