/*Author: Mopholosi Monyollo student number 220099000*/
/*header section*/
html body
{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

#header
{
    display: flex;
    flex-direction: row;
    background-color:#707070;
    justify-content: space-between;
    padding: 2em;
    max-width: 100%;
}

#logo
{
    justify-content: flex-start;
}

#homeButton
{
    justify-content: flex-end;
}

/*styling form section*/
#form
{
    display: flex;
    flex-direction: column;
    max-width: 30em;
    background-color: rgba(182, 179, 179, 0.99);
    padding-left: 5em ;
    padding-top: 3em;
    height: 45em;
}

#password-section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5em;
}

/*style image section*/
#heading
{
    display: flex;
    justify-content:center;
    padding-right: 2em;
}

#imagebox
{
    background-color: red;
}

#form-img-section
{
    display: flex;
    flex-direction: row;
}

#imagebox
{
    width: 80em;
    background-image: url(alcohol.jpg);
    opacity: 45%;
}